/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


@import "tailwindcss";

/* @keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.animate-slide-in-left {
  animation: slideInLeft 1s ease-out forwards;
}

.animate-delayed-appear {
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

.beating-heart {
  animation: heartbeat 1.5s infinite;
} */


@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Blinking cursor animation */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  font-family: 'Dancing Script', cursive;
  overflow: hidden; /* Ensures text doesn't overflow */
  white-space: nowrap; /* Keeps text on a single line */
  padding-bottom: 1.5rem;
  overflow: hidden;
  margin: 0,1.5rem,0,2.5rem auto; /* Centers the text */
  letter-spacing: 0.15em; /* Adds spacing between letters */
  white-space: pre-wrap;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: 1;
  animation: typewriter 3s steps(40, end), blink 0.75s step-end infinite;
}

.quote-container {
  font-family: 'Dancing Script', cursive;
  padding-bottom: 1.5rem;
  margin: 0,1.5rem,0,1.5rem auto; /* Centers the text */
  letter-spacing: 0.15em; /* Adds spacing between letters */
  white-space: pre-wrap; /* Ensures text wraps */
  word-wrap: break-word; /*Breaks long words if necessary*/
  overflow: hidden; /* Prevents overflow */
  display: -webkit-box;
  /* Limits to two lines */
  -webkit-box-orient: horizontal;
  animation: typewriter 5s steps(40, end), blink 0.75s step-end infinite;
}

.typewriter1 {
  font-family: 'Dancing Script', cursive;
  overflow: hidden; /* Ensures text doesn't overflow */
  white-space: nowrap; /* Keeps text on a single line */
  padding-bottom: 1.5rem;
  margin: 0,1.5rem,0,1.5rem auto; /* Centers the text */
  letter-spacing: 0.15em; /* Adds spacing between letters */
  animation: typewriter 10s steps(40, end), blink 0.75s step-end infinite;
}


/* Beating heart animation */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.beating-heart {
  animation: heartbeat 1.5s infinite;
  filter: grayscale(80%);
}


.st {
  font-family: cursive;
}
